@font-face {
    font-family: Helvetica;
    src: url('../fonts/helvetica_regular.otf');
}

@font-face {
    font-family: Helvetica;
    src: url('../fonts/helvetica_bold.otf');
    font-weight: bold;
}

*,
*::before,
*::after {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
}