    @import './colors';
    @import './fonts';
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1rem;
    }
    
    body {
        background-color: $light_bg;
        color: $main200;
        display: flex;
        width: 100%;
    }
    
    .container {
        width: 100%;
    }
    
    .navbar {
        background-color: $dark_bg;
        width: 8rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logotype {
            margin-top: 1rem;
        }
        &__more-btn {
            height: 2rem;
            width: 2rem;
            margin-top: 3rem;
            background: none;
            outline: none;
            border: none;
            svg {
                fill: $lighter_bg;
            }
             :hover {
                cursor: pointer;
                fill: $main500;
            }
        }
        &__categories-list {
            width: 100%;
            margin-top: 1rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__categories-item {
            width: 2rem;
            height: 2rem;
            margin-top: 1rem;
            svg {
                fill: $main400;
            }
             :hover {
                cursor: pointer;
                fill: $main500;
            }
        }
    }
    
    .header {
        display: flex;
        width: 100%;
        padding: 2rem;
        background-color: $light_bg;
        &__search {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            border-radius: 1rem;
            background-color: $dark_bg;
            &-label {
                margin: 0 2rem 0 1rem;
            }
        }
        &__input {
            padding: 1.25rem;
            border-radius: inherit;
            background-color: inherit;
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            color: $main200;
        }
         ::placeholder {
            color: $lighter_bg;
        }
        &__options-btn {
            background: none;
            outline: none;
            border: none;
        }
        &__authentication {
            margin-left: 4rem;
            display: flex;
        }
        &__left {
            margin-left: 25rem;
            display: flex;
        }
        &__login-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0.75rem 1rem;
            border-radius: 1rem;
            background-color: $main500;
            outline: none;
            border: none;
            color: $main200;
            svg {
                margin-right: 0.5rem;
                fill: $main200;
            }
            &:hover {
                cursor: pointer;
                background-color: $main600;
                color: $main500;
                svg {
                    fill: $main500;
                }
            }
        }
    }
    
    .main {}