    @import './colors';
    @import './fonts';
    @import './video-item.scss';
    @import './base';
    @import './header.scss';
    .container {
        padding-left: 8rem;
        width: 100%;
    }
    
    .navbar {
        position: fixed;
        z-index: 10;
        background-color: $dark_bg;
        min-width: 8rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logotype {
            margin-top: 1rem;
        }
        &__more-btn {
            height: 2rem;
            width: 2rem;
            margin-top: 3rem;
            background: none;
            outline: none;
            border: none;
            svg {
                fill: $lighter_bg;
            }
             :hover {
                cursor: pointer;
                fill: $main500;
            }
        }
        &__categories-list {
            width: 100%;
            margin-top: 1rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__categories-item {
            width: 2rem;
            height: 2rem;
            margin-top: 1rem;
            svg {
                fill: $main400;
            }
             :hover {
                cursor: pointer;
                fill: $main500;
            }
        }
    }
    
    .main {
        width: 100%;
        padding: 0 2rem;
        &__videos-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            background-color: $dark_bg;
            padding: 2rem;
            border-radius: 1rem;
        }
        &__video-item {
            margin: 0 2rem 2rem 0;
            &:nth-child(4) {
                margin-right: 0;
            }
        }
    }