    @import './colors';
    @import './fonts';
    @import './video-item.scss';
    @import './base';
    @import './header.scss';
    @import './navbar.scss';
    .container {
        padding-left: 8rem;
        width: 100%;
    }
    
    .main {
        width: 100%;
        padding: 0 2rem;
        &__videos-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            background-color: $dark_bg;
            padding: 2rem;
            border-radius: 1rem;
        }
        &__video-item {
            margin: 0 2rem 2rem 0;
            &:nth-child(4) {
                margin-right: 0;
            }
        }
    }